<body>
    
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color:#4267B2"></i>
            <i class="fa-brands fa-instagram"style="color:#E1306C"></i>
            <i class="fa-brands fa-linkedin"style="color:#0077B5"></i>
        </div>
        <div class="f-info-brand">private limited</div>
        <div class="f-info-links">
            <a href="#">privacy</a>
            <a href="#">terms</a>
        </div>
    </div>
</footer>
</body>