<body>
  <nav class="navbar navbar-expand-md bg-body-light sticky-top borderbottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-registered"></i></a>
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">To do</a>
        <a class="nav-link" href="/all">All Revision's</a>
        <a class="nav-link" href="/listings/new">New Revision</a>
      </div>
      <div class="navbar-nav ms-auto me-5 user-menu">
        <i class="fa-solid fa-user" style="font-size: 1.2rem; cursor: pointer;"></i>
        <div class="hover-suggestion bg-dark p-3 rounded ">
          <a href="/login">Login</a><br>
          <a href="/signup">Sign up</a><br>
        </div>
      </div>
    </div>
  </nav>
</body>