<body>
<nav class="navbar navbar-expand-md bg-body-light sticky-top borderbottom">
    <div class="container-fluid">
      <div  class="rotate">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-registered"></i></a>
      </div>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">To do</a>
          <a class="nav-link" href="/all">All Revision's</a>
          <a class="nav-link" href="/listings/new"> New Revision</a>
          <a class="nav-link" href="/listings"><i class="fa-solid fa-user" style="margin-left: 65rem; font-size:1.2rem"></i> </a>
        </div>
      </div>
    </div>
  </nav>
</body>