<body>
  <nav class="navbar navbar-expand-md bg-body-light sticky-top borderbottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-registered"></i></a>
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">To do</a>
        <a class="nav-link" href="/all">All Revision's</a>
        <a class="nav-link" href="/listings/new">New Revision</a>
      </div>
      <div class="navbar-nav ms-auto me-5">
        <a class="btn btn-dark btn-sm rounded-pill me-2" href="/account">
          <i class="fa-solid fa-user" style="font-size: 0.9rem; margin-right: 5px;"></i> Login
        </a>        
      </div>
    </div>
  </nav>
  
</body>