<% layout("/layouts/boilerplate.ejs") %>
<body style="height: 200vh !important;">
    

<h1 class="mt-5" style="font-weight:200"> Forgetting Curve</h1>
<div class="offset-1" style="margin-bottom: 5rem;">
<br>
<div class="container mt-4"> 
    <div class="row">
      <div class="col-md-5">
        <img src="images/curve.png" class="img-fluid" alt="Card image">
      </div>
      <div class="col-md-7 d-flex ">
        <ol class="list-group  " >
            <li class="list-group-item color mb-4"><b>1.</b>We forget a lot of information soon after learning it.</li>
            <li class="list-group-item color mb-4"><b>2.</b>Going over what you’ve learned at spaced intervals helps you remember better.</li>
            <li class="list-group-item color mb-4"><b>3.</b>Everyone forgets at different rates, so find what works best for you!</li>
            <li class="list-group-item color mb-4"><b>4.</b>Quickly access and review all your topics in one place </li>
            <li class="list-group-item color mb-4"><b>5.</b>Create your first Revsion </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<h1 class="mt-5" style="font-weight:200">Set Revsion!</h1>
<div class="offset-1">
<div class="container mt-5"> 
    <div class="row">
        <div class="col-md-7 d-flex  align-items-center ">
            <ol class="list-group  mt-5" >
                <li class="list-group-item color mb-5"><i class="fa-solid fa-face-laugh emoji" style="color: blue;"></i><span>Easy</span></li>
                <li class="list-group-item color mb-5"> <i class="fa-solid fa-face-smile emoji" style="color:green"></i><span>Good</span></li>
                <li class="list-group-item color mb-5"> <i class="fa-solid fa-face-sad-tear emoji" style="color: rgb(250, 221, 2);"></i><span>Hard</span></li>
                <li class="list-group-item color mb-5"><i class="fa-solid fa-face-dizzy emoji" style="color: red"></i><span>Relearn</span></li>
    
            </ol>
          </div>
      <div class="col-md-5">
        <img src="images/book.png" class="img-fluid" >
      </div>
     
    </div>
  </div>
</div>

</body>